.table-container {
    display: flex;
    justify-content: center;
  }
  
  .styled-table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
  }
  
  .styled-table th,
  .styled-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .styled-table th {
    background-color: #f2f2f2;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  